<section id="sponsors-2" class="sponsors sponsors-2 container content-section text-center">
    <div class="row">
        <div class="col-md-3 column">
        	<img src="/img/sponsors/mixbit.png"></img>
        </div>
        <div class="col-md-3 column">
            <img src="/img/sponsors/altus_financial-services.jpg" style="padding: 8px 0"></img>
        </div>
        <div class="col-md-3 column">
        	<img src="/img/sponsors/adinstruments.png"></img>
        </div>
    </div>
</section>
