<section id="sponsors-1" class="sponsors sponsors-1 container content-section text-center">
    <div class="row">
        <div class="col-md-3 column">
        	<img src="/img/sponsors/gallaway_cook_allan.jpg"></img>
        </div>
        <div class="col-md-3 column">
            <img src="/img/sponsors/city_of_literature.jpg"></img>
        </div>
        <div class="col-md-2 column">
        	<img src="/img/sponsors/vogel_street_kitchen-wh.png"></img>
        </div>
        <div class="col-md-2 column">
            <img src="/img/sponsors/architecture_van_brandenburg.jpg"></img>
        </div>
        <div class="col-md-2 column">
        	<img src="/img/sponsors/otago_community_trust.jpg" style="max-height: 50px"></img>
	    </div>
    </div>
</section>
