<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include hero.html %}

	    <div class="container content-section">
	        <div class="row">
	            <div class="col-md-2"></div>
	            <div class="col-md-8">
	                <div class="post-content-body text-center">
	                    {{ page.content }}
	                </div>
	            </div>
	            <div class="col-md-2"></div>
	        </div>
	    </div>

		{% include sponsors-1.html %}
		{% include sponsors-2.html %}
		{% include sponsors-3.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
